.money {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;

  &__button {
    @extend %title-1;

    display: block;
    background: rgb(68, 255, 67);
    background: radial-gradient(circle, rgba(68, 255, 67, 1) 0%, rgba(35, 115, 28, 1) 30%, rgba(45, 179, 36, 1) 79%);
    padding: 0;
    margin-top: 10px;
    height: 100px;
    width: 100%;
    outline: none;
    transition: transform 0.2s;

    &--small {
      width: 100px;
      border-radius: 100px;
      background: rgb(242, 255, 67);
      background: radial-gradient(circle, rgba(242, 255, 67, 1) 0%, rgba(106, 115, 28, 1) 94%, rgba(115, 126, 29, 1) 94%, rgba(159, 179, 36, 1) 100%);

      &:disabled {
        background: rgb(71, 71, 62) !important;
      }
    }

    &:disabled {
      background: rgb(65, 85, 65);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}
