$font-dark: #202122;
$font-dark-grey: #2c3333;
$color-black: #000;
$color-white: #fff;

$color-light-green: #4ab64a;
$color-green: #237a23;

$color-light-gray: #fafafa;

$color-light-red: #ce2900;
$color-red: #a02000;

$color-background-dark:#331e1e;
$color-background-deep-dark:#1f1212;

$color-background-yellow:#cae943;

$color-background-metal:rgb(165, 160, 179);

$color-background-display:#60974a;

$font-family-roboto: 'Roboto', sans-serif;
$font-family-digital: 'DS-Digital', sans-serif;

$breakpoint-md: 768px;
$breakpoint-lg: 1000px;
$breakpoint-xl: 1400px;

$title-1-font-size: 25px;
$title-1-font-size-md: 24px;
$title-1-font-size-xl: 28px;
$title-1-line-height: 24px;
$title-1-line-height-md: 32px;
$title-1-line-height-xl: 35px;

$title-2-font-size: 20px;
$title-2-font-size-md: 20px;
$title-2-font-size-xl: 20px;
$title-2-line-height: 20px;
$title-2-line-height-md: 24px;
$title-2-line-height-xl: 30px;

$body-1-font-size: 18px;
$body-1-font-size-md: 16px;
$body-1-font-size-xl: 20px;
$body-1-line-height: 131.7%;
$body-1-line-height-md: 18px;
$body-1-line-height-xl: 16px;

$body-2-font-size: 16px;
$body-2-font-size-md: 14px;
$body-2-font-size-xl: 18px;
$body-2-line-height: 16px;
$body-2-line-height-md: 18px;
$body-2-line-height-xl: 18px;

$display-font-size: 18px;
$display-font-size-md: 14px;
$display-font-size-xl: 18px;
$display-line-height: 18px;
$display-line-height-md: 18px;
$display-line-height-xl: 18px;
